*,
*:before,
*:after {
  box-sizing: border-box;
}


/* System Fonts as used by GitHub */

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content-wrapper {}

.app-header .logo {
  display: block;
  margin: 0 auto;
}

.app-header .search {
  display: flex;
  justify-content: center;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-gap: 20px;
}

 .weather-details .city {
  grid-area: city;
}

.weather-details .today {
  grid-area: today;
}

.weather-details .temp-high {
  grid-area: temp;
  grid-column: auto/span 3;
}

.weather-details .temp-low {
  grid-area: temp;
  grid-column: auto/span 3;
}

.weather-details .current {
  grid-area: current;
  grid-column: 3/span 1;
} 

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  .app-header img {
    display: block;
    margin: 0 auto;
  }
  .app-header .search {
    display: flex;
    justify-content: center;
  }
  .weather-details {
    display: grid;
    justify-content: center;
  }
}