@import '../../../styles/styles.css'; /* with :( */

.c-feelslike {
  display: flex;
  flex-direction: row;
}

.c-feelslike > span::after {
  content: "\00a0"
}

.c-condition {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.c-condition > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-condition > .c-main > .c-body {
  margin: 0 auto;
  text-align: center;
}


.c-forecast-day {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-forecast-day__item {
  --column-width: calc(var(--outer-min-width)/12);
  display: grid;
  grid-template-columns: repeat(12, minmax(var(--column-width), 1fr));
  align-items: center;
  justify-items: center;
}

.c-forecast-day__item > * {
  grid-column-end: span 4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-forecast-day__item > span {
  justify-self: start; 
}

.c-forecast-day__item > .c-temp-range {
  justify-self: end;
  font-size: 1.1rem;
}

.c-hscroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.c-forecast-hour {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-forecast-hour__item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
}

.c-forecast-hour__item > .o-temp {
  font-size: 1.1rem;
}

.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "city city city city city city"
  "today today today current current current"
  "temp temp temp current current current"
  ;
  grid-gap: 20px;
}

 .weather-details .city {
  grid-area: city;
  margin: 0 auto;
}

.weather-details .today {
  grid-area: today;
  padding: 1rem;
  text-align: end;
}

.weather-details .temp-high {
  grid-area: temp;
}

.weather-details .temp-low {
  grid-area: temp;
}

.weather-details .current {
  grid-area: current;
} 
