.l-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.c-header {
  padding: 1rem;
}

.c-header .l-column {
  grid-column-end: span 1;
}

.c-header .o-location {
  text-align: center;
}